nodered/flows.json
[
    {
        "id": "e530820f.364f58",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b52eb145.e59528",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b6676b7b.f04ec",
        "type": "server",
        "z": "",
        "name": "Home Assistant",
        "legacy": false,
        "addon": false,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true
    },
    {
        "id": "3cb113b8.cf32bc",
        "type": "zigbee2mqtt-server",
        "z": "",
        "name": "zigbee2mqtt",
        "host": "mosquitto",
        "mqtt_port": "1883",
        "mqtt_username": "",
        "mqtt_password": "",
        "base_topic": "zigbee2mqtt"
    },
    {
        "id": "2dfcf981.bbc346",
        "type": "zigbee2mqtt-out",
        "z": "e530820f.364f58",
        "name": "",
        "server": "3cb113b8.cf32bc",
        "friendly_name": "hall_light_02",
        "device_id": "0xec1bbdfffe9cd801",
        "command": "state",
        "commandType": "z2m_cmd",
        "payload": "toggle",
        "payloadType": "z2m_payload",
        "transition": 0,
        "x": 830,
        "y": 120,
        "wires": []
    },
    {
        "id": "49106c7b.c8aff4",
        "type": "zigbee2mqtt-out",
        "z": "e530820f.364f58",
        "name": "",
        "server": "3cb113b8.cf32bc",
        "friendly_name": "hall_light_03",
        "device_id": "0xec1bbdfffe9ecc68",
        "command": "state",
        "commandType": "z2m_cmd",
        "payload": "toggle",
        "payloadType": "z2m_payload",
        "transition": 0,
        "x": 830,
        "y": 160,
        "wires": []
    },
    {
        "id": "f8b0f462.ce65",
        "type": "zigbee2mqtt-out",
        "z": "e530820f.364f58",
        "name": "",
        "server": "3cb113b8.cf32bc",
        "friendly_name": "hall_light_01",
        "device_id": "0xec1bbdfffea2ff59",
        "command": "state",
        "commandType": "z2m_cmd",
        "payload": "toggle",
        "payloadType": "z2m_payload",
        "transition": 0,
        "x": 830,
        "y": 80,
        "wires": []
    },
    {
        "id": "2225b080.272778",
        "type": "zigbee2mqtt-in",
        "z": "e530820f.364f58",
        "name": "",
        "server": "3cb113b8.cf32bc",
        "friendly_name": "hall_switch_01",
        "device_id": "0xccccccfffe9251f1",
        "state": "click",
        "outputAtStartup": false,
        "x": 100,
        "y": 60,
        "wires": [
            [
                "5f1e4dcc.d52484"
            ]
        ]
    },
    {
        "id": "1f5ccd11.570143",
        "type": "zigbee2mqtt-in",
        "z": "e530820f.364f58",
        "name": "",
        "server": "3cb113b8.cf32bc",
        "friendly_name": "hall_switch_02",
        "device_id": "0xccccccfffe924c55",
        "state": "click",
        "outputAtStartup": false,
        "x": 100,
        "y": 100,
        "wires": [
            [
                "5f1e4dcc.d52484"
            ]
        ]
    },
    {
        "id": "5f1e4dcc.d52484",
        "type": "switch",
        "z": "e530820f.364f58",
        "name": "on | off",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "(on|off)",
                "vt": "str",
                "case": false
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 330,
        "y": 80,
        "wires": [
            [
                "23251619.244a62"
            ]
        ]
    },
    {
        "id": "23251619.244a62",
        "type": "delay",
        "z": "e530820f.364f58",
        "name": "Debounce",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 470,
        "y": 80,
        "wires": [
            [
                "d398cd8.c426eb",
                "462d8f94.06ebc8",
                "f8b0f462.ce65"
            ]
        ]
    },
    {
        "id": "17dcf87.dd84788",
        "type": "zigbee2mqtt-in",
        "z": "e530820f.364f58",
        "name": "",
        "server": "3cb113b8.cf32bc",
        "friendly_name": "sleep_blinds_ctrl_01",
        "device_id": "0xec1bbdfffede164f",
        "state": "click",
        "outputAtStartup": false,
        "x": 110,
        "y": 360,
        "wires": [
            [
                "7de98ae2.ed26c4"
            ]
        ]
    },
    {
        "id": "7de98ae2.ed26c4",
        "type": "switch",
        "z": "e530820f.364f58",
        "name": "open | close",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "open",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "close",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 290,
        "y": 380,
        "wires": [
            [
                "cf20bdaa.87e2a"
            ],
            [
                "c3b1e009.c49b98"
            ]
        ]
    },
    {
        "id": "cf20bdaa.87e2a",
        "type": "delay",
        "z": "e530820f.364f58",
        "name": "Debounce",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 470,
        "y": 360,
        "wires": [
            [
                "9ccfd86a.ec669",
                "fed1303f.4c5ce"
            ]
        ]
    },
    {
        "id": "c3b1e009.c49b98",
        "type": "delay",
        "z": "e530820f.364f58",
        "name": "Debounce",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 470,
        "y": 400,
        "wires": [
            [
                "5e7f9fb5.68a908",
                "2f7c9077.d07928"
            ]
        ]
    },
    {
        "id": "9ccfd86a.ec669",
        "type": "zigbee2mqtt-out",
        "z": "e530820f.364f58",
        "name": "Open right blinds",
        "server": "3cb113b8.cf32bc",
        "friendly_name": "sleep_blinds_right",
        "device_id": "0xd0cf5efffeea14b4",
        "command": "position",
        "commandType": "z2m_cmd",
        "payload": "100",
        "payloadType": "num",
        "transition": 0,
        "x": 690,
        "y": 360,
        "wires": []
    },
    {
        "id": "5e7f9fb5.68a908",
        "type": "zigbee2mqtt-out",
        "z": "e530820f.364f58",
        "name": "Close left blinds",
        "server": "3cb113b8.cf32bc",
        "friendly_name": "sleep_blinds_left",
        "device_id": "0x680ae2fffe37b078",
        "command": "position",
        "commandType": "z2m_cmd",
        "payload": "0",
        "payloadType": "num",
        "transition": 0,
        "x": 680,
        "y": 400,
        "wires": []
    },
    {
        "id": "d398cd8.c426eb",
        "type": "delay",
        "z": "e530820f.364f58",
        "name": "",
        "pauseType": "delay",
        "timeout": "300",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 670,
        "y": 120,
        "wires": [
            [
                "2dfcf981.bbc346"
            ]
        ]
    },
    {
        "id": "462d8f94.06ebc8",
        "type": "delay",
        "z": "e530820f.364f58",
        "name": "",
        "pauseType": "delay",
        "timeout": "600",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 670,
        "y": 160,
        "wires": [
            [
                "49106c7b.c8aff4"
            ]
        ]
    },
    {
        "id": "68be0c2a.e5136c",
        "type": "zigbee2mqtt-in",
        "z": "e530820f.364f58",
        "name": "",
        "server": "3cb113b8.cf32bc",
        "friendly_name": "sleep_blinds_ctrl_02",
        "device_id": "0x000d6ffffea94dd0",
        "state": "click",
        "outputAtStartup": false,
        "x": 110,
        "y": 400,
        "wires": [
            [
                "7de98ae2.ed26c4"
            ]
        ]
    },
    {
        "id": "fed1303f.4c5ce",
        "type": "zigbee2mqtt-out",
        "z": "e530820f.364f58",
        "name": "Open left blinds",
        "server": "3cb113b8.cf32bc",
        "friendly_name": "sleep_blinds_left",
        "device_id": "0x680ae2fffe37b078",
        "command": "position",
        "commandType": "z2m_cmd",
        "payload": "100",
        "payloadType": "num",
        "transition": 0,
        "x": 680,
        "y": 320,
        "wires": []
    },
    {
        "id": "2f7c9077.d07928",
        "type": "zigbee2mqtt-out",
        "z": "e530820f.364f58",
        "name": "Close right blinds",
        "server": "3cb113b8.cf32bc",
        "friendly_name": "sleep_blinds_right",
        "device_id": "0xd0cf5efffeea14b4",
        "command": "position",
        "commandType": "z2m_cmd",
        "payload": "0",
        "payloadType": "num",
        "transition": 0,
        "x": 690,
        "y": 440,
        "wires": []
    },
    {
        "id": "fefed804.7e9cf8",
        "type": "zigbee2mqtt-in",
        "z": "e530820f.364f58",
        "name": "",
        "server": "3cb113b8.cf32bc",
        "friendly_name": "sleep_switch",
        "device_id": "0xccccccfffea2fddd",
        "state": "click",
        "outputAtStartup": false,
        "x": 90,
        "y": 500,
        "wires": [
            [
                "7fcd5c7.7040124"
            ]
        ]
    },
    {
        "id": "e5bf878f.6eb758",
        "type": "zigbee2mqtt-out",
        "z": "e530820f.364f58",
        "name": "",
        "server": "3cb113b8.cf32bc",
        "friendly_name": "sleep_light",
        "device_id": "0x7cb03eaa00ac909d",
        "command": "state",
        "commandType": "z2m_cmd",
        "payload": "toggle",
        "payloadType": "z2m_payload",
        "transition": 0,
        "x": 550,
        "y": 500,
        "wires": []
    },
    {
        "id": "7fcd5c7.7040124",
        "type": "switch",
        "z": "e530820f.364f58",
        "name": "on | off",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "(on|off)",
                "vt": "str",
                "case": false
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 250,
        "y": 500,
        "wires": [
            [
                "4c4693c7.dda244"
            ]
        ]
    },
    {
        "id": "4c4693c7.dda244",
        "type": "delay",
        "z": "e530820f.364f58",
        "name": "Debounce",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 390,
        "y": 500,
        "wires": [
            [
                "e5bf878f.6eb758"
            ]
        ]
    },
    {
        "id": "76fc5ba3.64ebfc",
        "type": "zigbee2mqtt-in",
        "z": "e530820f.364f58",
        "name": "",
        "server": "3cb113b8.cf32bc",
        "friendly_name": "kitchen_switch",
        "device_id": "0x14b457fffe79b246",
        "state": "click",
        "outputAtStartup": false,
        "x": 100,
        "y": 560,
        "wires": [
            [
                "4d638e8e.0ee82"
            ]
        ]
    },
    {
        "id": "762f9f04.93e818",
        "type": "zigbee2mqtt-out",
        "z": "e530820f.364f58",
        "name": "",
        "server": "3cb113b8.cf32bc",
        "friendly_name": "kitchen_light",
        "device_id": "0x7cb03eaa00adacd7",
        "command": "state",
        "commandType": "z2m_cmd",
        "payload": "toggle",
        "payloadType": "z2m_payload",
        "transition": 0,
        "x": 550,
        "y": 540,
        "wires": []
    },
    {
        "id": "4d638e8e.0ee82",
        "type": "switch",
        "z": "e530820f.364f58",
        "name": "on | off",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 250,
        "y": 560,
        "wires": [
            [
                "588b2459.adf9dc"
            ],
            [
                "26fffb6c.069b6c"
            ]
        ]
    },
    {
        "id": "588b2459.adf9dc",
        "type": "delay",
        "z": "e530820f.364f58",
        "name": "Debounce",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 390,
        "y": 540,
        "wires": [
            [
                "762f9f04.93e818"
            ]
        ]
    },
    {
        "id": "ed454852.c55ee",
        "type": "zigbee2mqtt-out",
        "z": "e530820f.364f58",
        "name": "",
        "server": "3cb113b8.cf32bc",
        "friendly_name": "kitchen_ball_light",
        "device_id": "0x7cb03eaa00aa112a",
        "command": "state",
        "commandType": "z2m_cmd",
        "payload": "toggle",
        "payloadType": "z2m_payload",
        "transition": 0,
        "x": 570,
        "y": 580,
        "wires": []
    },
    {
        "id": "26fffb6c.069b6c",
        "type": "delay",
        "z": "e530820f.364f58",
        "name": "Debounce",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 390,
        "y": 580,
        "wires": [
            [
                "ed454852.c55ee"
            ]
        ]
    },
    {
        "id": "91d667b1.470f68",
        "type": "debug",
        "z": "b52eb145.e59528",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 730,
        "y": 140,
        "wires": []
    },
    {
        "id": "a4541e39.bca178",
        "type": "bigtimer",
        "z": "e530820f.364f58",
        "outtopic": "",
        "outpayload1": "open",
        "outpayload2": "not yet close",
        "name": "The Week Day",
        "comment": "",
        "lat": "51.3203355",
        "lon": "12.3415345",
        "starttime": "390",
        "endtime": "5004",
        "starttime2": "0",
        "endtime2": 0,
        "startoff": 0,
        "endoff": 0,
        "startoff2": 0,
        "endoff2": 0,
        "offs": 0,
        "outtext1": "",
        "outtext2": "",
        "timeout": 1440,
        "sun": false,
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": false,
        "jan": true,
        "feb": true,
        "mar": true,
        "apr": true,
        "may": true,
        "jun": true,
        "jul": true,
        "aug": true,
        "sep": true,
        "oct": true,
        "nov": true,
        "dec": true,
        "day1": 0,
        "month1": 0,
        "day2": 0,
        "month2": 0,
        "day3": 0,
        "month3": 0,
        "day4": 0,
        "month4": 0,
        "day5": 0,
        "month5": 0,
        "day6": 0,
        "month6": 0,
        "day7": 0,
        "month7": 0,
        "day8": 0,
        "month8": 0,
        "day9": 0,
        "month9": 0,
        "day10": 0,
        "month10": 0,
        "day11": 0,
        "month11": 0,
        "day12": 0,
        "month12": 0,
        "d1": 0,
        "w1": 0,
        "d2": 0,
        "w2": 0,
        "d3": 0,
        "w3": 0,
        "d4": 0,
        "w4": 0,
        "d5": 0,
        "w5": 0,
        "d6": 0,
        "w6": 0,
        "xday1": 0,
        "xmonth1": 0,
        "xday2": 0,
        "xmonth2": 0,
        "xday3": 0,
        "xmonth3": 0,
        "xday4": 0,
        "xmonth4": 0,
        "xday5": 0,
        "xmonth5": 0,
        "xday6": 0,
        "xmonth6": 0,
        "xd1": 0,
        "xw1": 0,
        "xd2": 0,
        "xw2": 0,
        "xd3": 0,
        "xw3": 0,
        "xd4": 0,
        "xw4": 0,
        "xd5": 0,
        "xw5": 0,
        "xd6": 0,
        "xw6": 0,
        "suspend": false,
        "random": false,
        "repeat": false,
        "atstart": false,
        "odd": false,
        "even": false,
        "x": 100,
        "y": 200,
        "wires": [
            [
                "7fc824b1.ffc804"
            ],
            [],
            []
        ]
    },
    {
        "id": "8cf97e43.38b878",
        "type": "debug",
        "z": "e530820f.364f58",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 650,
        "y": 20,
        "wires": []
    },
    {
        "id": "7fc824b1.ffc804",
        "type": "switch",
        "z": "e530820f.364f58",
        "name": "open | close",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "open",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "close",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 290,
        "y": 220,
        "wires": [
            [
                "12dceeff.71b431",
                "78fa67e8.93497",
                "74c305bf.974bb4"
            ],
            []
        ]
    },
    {
        "id": "12dceeff.71b431",
        "type": "delay",
        "z": "e530820f.364f58",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 480,
        "y": 260,
        "wires": [
            [
                "d1482829.11d28"
            ]
        ]
    },
    {
        "id": "d1482829.11d28",
        "type": "zigbee2mqtt-out",
        "z": "e530820f.364f58",
        "name": "60% right blinds",
        "server": "3cb113b8.cf32bc",
        "friendly_name": "sleep_blinds_right",
        "device_id": "0xd0cf5efffeea14b4",
        "command": "position",
        "commandType": "z2m_cmd",
        "payload": "60",
        "payloadType": "num",
        "transition": 0,
        "x": 680,
        "y": 260,
        "wires": []
    },
    {
        "id": "78fa67e8.93497",
        "type": "zigbee2mqtt-out",
        "z": "e530820f.364f58",
        "name": "50% left blinds",
        "server": "3cb113b8.cf32bc",
        "friendly_name": "sleep_blinds_left",
        "device_id": "0x680ae2fffe37b078",
        "command": "position",
        "commandType": "z2m_cmd",
        "payload": "50",
        "payloadType": "num",
        "transition": 0,
        "x": 680,
        "y": 220,
        "wires": []
    },
    {
        "id": "74c305bf.974bb4",
        "type": "delay",
        "z": "e530820f.364f58",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 490,
        "y": 300,
        "wires": [
            [
                "9ccfd86a.ec669",
                "fed1303f.4c5ce"
            ]
        ]
    },
    {
        "id": "c249aea3.8899c",
        "type": "bigtimer",
        "z": "e530820f.364f58",
        "outtopic": "",
        "outpayload1": "open",
        "outpayload2": "not yet close",
        "name": "The Weekend",
        "comment": "",
        "lat": "51.3203355",
        "lon": "12.3415345",
        "starttime": "450",
        "endtime": "5004",
        "starttime2": "0",
        "endtime2": 0,
        "startoff": 0,
        "endoff": 0,
        "startoff2": 0,
        "endoff2": 0,
        "offs": 0,
        "outtext1": "",
        "outtext2": "",
        "timeout": 1440,
        "sun": true,
        "mon": false,
        "tue": false,
        "wed": false,
        "thu": false,
        "fri": false,
        "sat": true,
        "jan": true,
        "feb": true,
        "mar": true,
        "apr": true,
        "may": true,
        "jun": true,
        "jul": true,
        "aug": true,
        "sep": true,
        "oct": true,
        "nov": true,
        "dec": true,
        "day1": 0,
        "month1": 0,
        "day2": 0,
        "month2": 0,
        "day3": 0,
        "month3": 0,
        "day4": 0,
        "month4": 0,
        "day5": 0,
        "month5": 0,
        "day6": 0,
        "month6": 0,
        "day7": 0,
        "month7": 0,
        "day8": 0,
        "month8": 0,
        "day9": 0,
        "month9": 0,
        "day10": 0,
        "month10": 0,
        "day11": 0,
        "month11": 0,
        "day12": 0,
        "month12": 0,
        "d1": 0,
        "w1": 0,
        "d2": 0,
        "w2": 0,
        "d3": 0,
        "w3": 0,
        "d4": 0,
        "w4": 0,
        "d5": 0,
        "w5": 0,
        "d6": 0,
        "w6": 0,
        "xday1": 0,
        "xmonth1": 0,
        "xday2": 0,
        "xmonth2": 0,
        "xday3": 0,
        "xmonth3": 0,
        "xday4": 0,
        "xmonth4": 0,
        "xday5": 0,
        "xmonth5": 0,
        "xday6": 0,
        "xmonth6": 0,
        "xd1": 0,
        "xw1": 0,
        "xd2": 0,
        "xw2": 0,
        "xd3": 0,
        "xw3": 0,
        "xd4": 0,
        "xw4": 0,
        "xd5": 0,
        "xw5": 0,
        "xd6": 0,
        "xw6": 0,
        "suspend": false,
        "random": false,
        "repeat": false,
        "atstart": false,
        "odd": false,
        "even": false,
        "x": 100,
        "y": 260,
        "wires": [
            [
                "7fc824b1.ffc804"
            ],
            [],
            []
        ]
    },
    {
        "id": "3668e153.734eee",
        "type": "zigbee2mqtt-in",
        "z": "b52eb145.e59528",
        "name": "",
        "server": "3cb113b8.cf32bc",
        "friendly_name": "bath_motion",
        "device_id": "0x00158d00047d4108",
        "state": "0",
        "outputAtStartup": true,
        "x": 90,
        "y": 120,
        "wires": [
            [
                "588b9057.7cf16",
                "fffe56b9.d4442"
            ]
        ]
    },
    {
        "id": "a35c4973.050d",
        "type": "zigbee2mqtt-out",
        "z": "b52eb145.e59528",
        "name": "",
        "server": "3cb113b8.cf32bc",
        "friendly_name": "kitchen_ball_light",
        "device_id": "0x7cb03eaa00aa112a",
        "command": "color",
        "commandType": "z2m_cmd",
        "payload": "payload",
        "payloadType": "msg",
        "transition": 0,
        "x": 750,
        "y": 280,
        "wires": []
    },
    {
        "id": "fffe56b9.d4442",
        "type": "function",
        "z": "b52eb145.e59528",
        "name": "occupied?",
        "func": "const {occupancy} = msg.payload;\nconst oldState = context.get('bath_occupancy');\n\nif (oldState == occupancy) return;\n// {\"update_available\":false,\"state\":\"ON\",\"color\":{\"h\":30,\"s\":57.14285714285714,\"x\":0.482435624031141,\"y\":0.41432010263054,\"hue\":9},\"brightness\":163,\"color_temp\":409}'\n\ncontext.set('bath_occupancy', occupancy);\n\nconst green = { h: 30, s: 90 };\nconst red = { h: 0, s: 100 };\n\nconst payload = occupancy ? red : green;\n\nreturn {payload};",
        "outputs": 1,
        "noerr": 0,
        "x": 390,
        "y": 160,
        "wires": [
            [
                "91d667b1.470f68",
                "a35c4973.050d"
            ]
        ]
    },
    {
        "id": "588b9057.7cf16",
        "type": "debug",
        "z": "b52eb145.e59528",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.occupancy",
        "targetType": "msg",
        "x": 370,
        "y": 80,
        "wires": []
    },
    {
        "id": "a45ffaca.01268",
        "type": "inject",
        "z": "b52eb145.e59528",
        "name": "On",
        "topic": "",
        "payload": "{\"battery\":100,\"voltage\":3005,\"illuminance\":0,\"illuminance_lux\":0,\"linkquality\":75,\"occupancy\":true}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 130,
        "y": 240,
        "wires": [
            [
                "fffe56b9.d4442"
            ]
        ]
    },
    {
        "id": "60e3ec9c.83c724",
        "type": "inject",
        "z": "b52eb145.e59528",
        "name": "Off",
        "topic": "",
        "payload": "{\"battery\":100,\"voltage\":3005,\"illuminance\":0,\"illuminance_lux\":0,\"linkquality\":72,\"occupancy\":false}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 130,
        "y": 280,
        "wires": [
            [
                "fffe56b9.d4442"
            ]
        ]
    }
]