nodered/flows.json
[
    {
        "id": "e530820f.364f58",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b52eb145.e59528",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b6676b7b.f04ec",
        "type": "server",
        "z": "",
        "name": "Home Assistant",
        "legacy": false,
        "addon": false,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true
    },
    {
        "id": "3cb113b8.cf32bc",
        "type": "zigbee2mqtt-server",
        "z": "",
        "name": "zigbee2mqtt",
        "host": "mosquitto",
        "mqtt_port": "1883",
        "mqtt_username": "",
        "mqtt_password": "",
        "base_topic": "zigbee2mqtt"
    },
    {
        "id": "2dfcf981.bbc346",
        "type": "zigbee2mqtt-out",
        "z": "e530820f.364f58",
        "name": "",
        "server": "3cb113b8.cf32bc",
        "friendly_name": "hall_light_02",
        "device_id": "0xec1bbdfffe9cd801",
        "command": "state",
        "commandType": "z2m_cmd",
        "payload": "toggle",
        "payloadType": "z2m_payload",
        "transition": 0,
        "x": 830,
        "y": 120,
        "wires": []
    },
    {
        "id": "49106c7b.c8aff4",
        "type": "zigbee2mqtt-out",
        "z": "e530820f.364f58",
        "name": "",
        "server": "3cb113b8.cf32bc",
        "friendly_name": "hall_light_03",
        "device_id": "0xec1bbdfffe9ecc68",
        "command": "state",
        "commandType": "z2m_cmd",
        "payload": "toggle",
        "payloadType": "z2m_payload",
        "transition": 0,
        "x": 830,
        "y": 160,
        "wires": []
    },
    {
        "id": "f8b0f462.ce65",
        "type": "zigbee2mqtt-out",
        "z": "e530820f.364f58",
        "name": "",
        "server": "3cb113b8.cf32bc",
        "friendly_name": "hall_light_01",
        "device_id": "0xec1bbdfffea2ff59",
        "command": "state",
        "commandType": "z2m_cmd",
        "payload": "toggle",
        "payloadType": "z2m_payload",
        "transition": 0,
        "x": 830,
        "y": 80,
        "wires": []
    },
    {
        "id": "2225b080.272778",
        "type": "zigbee2mqtt-in",
        "z": "e530820f.364f58",
        "name": "",
        "server": "3cb113b8.cf32bc",
        "friendly_name": "hall_switch_01",
        "device_id": "0xccccccfffe9251f1",
        "state": "click",
        "outputAtStartup": false,
        "x": 100,
        "y": 60,
        "wires": [
            [
                "5f1e4dcc.d52484"
            ]
        ]
    },
    {
        "id": "1f5ccd11.570143",
        "type": "zigbee2mqtt-in",
        "z": "e530820f.364f58",
        "name": "",
        "server": "3cb113b8.cf32bc",
        "friendly_name": "hall_switch_02",
        "device_id": "0xccccccfffe924c55",
        "state": "click",
        "outputAtStartup": false,
        "x": 100,
        "y": 100,
        "wires": [
            [
                "5f1e4dcc.d52484"
            ]
        ]
    },
    {
        "id": "d5b9d483.62fd6",
        "type": "debug",
        "z": "e530820f.364f58",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 690,
        "y": 220,
        "wires": []
    },
    {
        "id": "5f1e4dcc.d52484",
        "type": "switch",
        "z": "e530820f.364f58",
        "name": "on | off",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "(on|off)",
                "vt": "str",
                "case": false
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 330,
        "y": 80,
        "wires": [
            [
                "23251619.244a62"
            ]
        ]
    },
    {
        "id": "23251619.244a62",
        "type": "delay",
        "z": "e530820f.364f58",
        "name": "Debounce",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "3",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 470,
        "y": 80,
        "wires": [
            [
                "d5b9d483.62fd6",
                "d398cd8.c426eb",
                "462d8f94.06ebc8",
                "f8b0f462.ce65"
            ]
        ]
    },
    {
        "id": "17dcf87.dd84788",
        "type": "zigbee2mqtt-in",
        "z": "e530820f.364f58",
        "name": "",
        "server": "3cb113b8.cf32bc",
        "friendly_name": "sleep_blinds_ctrl_01",
        "device_id": "0xec1bbdfffede164f",
        "state": "click",
        "outputAtStartup": false,
        "x": 110,
        "y": 320,
        "wires": [
            [
                "7de98ae2.ed26c4"
            ]
        ]
    },
    {
        "id": "7de98ae2.ed26c4",
        "type": "switch",
        "z": "e530820f.364f58",
        "name": "open | close",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "open",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "close",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 370,
        "y": 320,
        "wires": [
            [
                "cf20bdaa.87e2a"
            ],
            [
                "c3b1e009.c49b98"
            ]
        ]
    },
    {
        "id": "cf20bdaa.87e2a",
        "type": "delay",
        "z": "e530820f.364f58",
        "name": "Debounce",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "3",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 550,
        "y": 300,
        "wires": [
            [
                "9ccfd86a.ec669"
            ]
        ]
    },
    {
        "id": "c3b1e009.c49b98",
        "type": "delay",
        "z": "e530820f.364f58",
        "name": "Debounce",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "3",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 550,
        "y": 340,
        "wires": [
            [
                "5e7f9fb5.68a908"
            ]
        ]
    },
    {
        "id": "9ccfd86a.ec669",
        "type": "zigbee2mqtt-out",
        "z": "e530820f.364f58",
        "name": "Blinds Open",
        "server": "3cb113b8.cf32bc",
        "friendly_name": "sleep_blinds",
        "device_id": "0x680ae2fffe37b078",
        "command": "position",
        "commandType": "z2m_cmd",
        "payload": "100",
        "payloadType": "num",
        "transition": 0,
        "x": 730,
        "y": 300,
        "wires": []
    },
    {
        "id": "5e7f9fb5.68a908",
        "type": "zigbee2mqtt-out",
        "z": "e530820f.364f58",
        "name": "Blinds Close",
        "server": "3cb113b8.cf32bc",
        "friendly_name": "sleep_blinds",
        "device_id": "0x680ae2fffe37b078",
        "command": "position",
        "commandType": "z2m_cmd",
        "payload": "0",
        "payloadType": "num",
        "transition": 0,
        "x": 730,
        "y": 340,
        "wires": []
    },
    {
        "id": "d398cd8.c426eb",
        "type": "delay",
        "z": "e530820f.364f58",
        "name": "",
        "pauseType": "delay",
        "timeout": "300",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 670,
        "y": 120,
        "wires": [
            [
                "2dfcf981.bbc346"
            ]
        ]
    },
    {
        "id": "462d8f94.06ebc8",
        "type": "delay",
        "z": "e530820f.364f58",
        "name": "",
        "pauseType": "delay",
        "timeout": "600",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 670,
        "y": 160,
        "wires": [
            [
                "49106c7b.c8aff4"
            ]
        ]
    },
    {
        "id": "68be0c2a.e5136c",
        "type": "zigbee2mqtt-in",
        "z": "e530820f.364f58",
        "name": "",
        "server": "3cb113b8.cf32bc",
        "friendly_name": "sleep_blinds_ctrl_02",
        "device_id": "0x000d6ffffea94dd0",
        "state": "click",
        "outputAtStartup": false,
        "x": 110,
        "y": 360,
        "wires": [
            [
                "7de98ae2.ed26c4"
            ]
        ]
    }
]